 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}
main {
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.left-content {
	background-color: hsl(30deg 77% 52%);
	padding: 5em;
}
.left-content h3 {
	font-size: 15px;
	color: hsl(43deg 79% 92%);
	padding-bottom: 10px;
	font-size: bold;
}

.left-content .p-left {
	font-size: 15px;
	color: hsl(31deg 95% 74%);
	padding-bottom: 10px;
}

.middle-content {
	background-color: hsl(185deg 98% 23%);
	padding: 2em;
}
.middle-content h3 {
	font-size: 15px;
	color: hsl(192deg 68% 93%);
	padding-bottom: 10px;
	font-size: bold;
}

.middle-content .p-middle {
	font-size: 15px;
	color: hsl(185deg 54% 68%);
	padding-bottom: 10px;
}

.right-content {
	background-color: hsl(179deg 100% 13%);
	padding: 2em;
}

.right-content h3 {
	font-size: 15px;
	color: hsl(185deg 85% 97%);
	padding-bottom: 10px;
	font-size: bold;
}

.right-content .p-right {
	font-size: 15px;
	color: hsl(179deg 24% 63%);
	padding-bottom: 10px;
}
		
